* {
    box-sizing: border-box;
  }
body{ 
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    background-color: rgb(246, 243, 237);
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.header{
  background-color:rgb(237, 213, 146);
}  
.nav-list {
  height: 50px;
  display: flex;
  justify-content:flex-end;
  align-items:center;
  list-style:none;
  background-color:rgb(237, 213, 146);
  }
 .nav-link{
  transition: .3s;
   font-size:25px;
   padding: 0;
   line-height: 30px;
   text-shadow: 10px;
   text-decoration: none;
   color:black;
 } 
 .nav-item{
   margin-right: auto;
 }
 html {
  scroll-behavior: smooth; 
}
a {
  text-decoration: none;
  line-height: 1;
  position: relative;
  cursor: pointer;
  padding-bottom: 3px;
}
a:after {
	display: block;
	position:absolute;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #010902;
  content: "";
	transition: width 0.3s ease-out;}
a:hover:after {
  text-decoration:underline;
  width: 100%; 
}
.footer{
  background-color:rgb(237, 213, 146);
  height:40px;
  align-items:center;
}
h1{
  font-family: 'PT Sans Narrow', sans-serif;
  text-align:justify;
  
  font-size: xx-large;
}
span{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
  color:#00000094;
  font-family: 'Roboto Condensed', sans-serif;
}
